@model Destino_Certo.Models.DestinoModel

@{
   
    Layout = "~/Views/Shared/_Details.cshtml";
    ViewData["Destinos"] = "active";

    string Base64 = Convert.ToBase64String(Model.ArrayImagem);
    string img = String.Format("data:image/jpeg;base64,{0}", Base64);
    var imagem = img;
    string[] DescricaoS = Model.Descricao.Split(";");
    string[] InclusoS = Model.Incluso.Split(";");

}


<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Destinos</h2>
            <ol>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Destino" asp-action="Locais">Destinos</a></li>
                <li>Conheça</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>@Html.DisplayFor(model => model.Local)</h2>
        </div>

    </div>
</section>
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-12 entries col align-self-center">
                <article class="entry">
                    <div class="entry-img row">
                        <img src="@img" class="img-fluid col align-self-center" alt="">   
                    </div>
                    <h2 class="entry-title">Detalhes</h2>

                    <div class="entry-content">
                        @foreach (var item in DescricaoS)
                        {
                            <p>@item </p>
                        }
                        <h2 class="entry-title">Incluso</h2>
                        <p>
                        @foreach (var item in InclusoS)
                        
                        {
                            @item <br>
                        }
                        </p>
                        
                        <div class="read-more">
                            <!-- <a href="blog-single.html" data-glightbox="type: external">Reserve Já</a>-->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

