@*
    
*@
@{

}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Login</h2>
            <ol>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Login</li>
            </ol>
        </div>

    </div>
</section>
<section class="vh-100" style="background-color: lightgray;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.6);">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="~/img/login/card-login.jfif" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form asp-action="Login" class="form-floating">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-unlock-alt fa-2x me-3 text-secondary" ></i>
                    <span class="h1 fw-bold mb-0">Destino Certo</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Autenticação</h5>

                  <div class="form-floating">
                    <input type="text" id="floatingInput" class="form-control" name="login">
                    <label for="floatingInput">Login</label>
                    <br />
                  </div>
                
                  <div class="form-floating">
                    <input type="password" id="floatingPassword" class="form-control" name="senha">
                    <label for="floatingPassword">Senha</label>
                  </div>
                    <br />
                    <div class="col-md-4 offset-md-4"></div>
                  <div class="col-md-4 offset-md-4">
                    <input type="submit" value="Login" class="btn btn-outline-secondary col-12" />
                  </div>
                  <div class="col-md-4 offset-md-4"></div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>